.container {
  display: flex;

  margin-top: 40px;
}

.items {
  margin-left: 30px;
}

.title {
  text-align: center;
  margin: 0;
}

.text {
  margin: 0;
}

.subtitle {
  margin: 10px 0 10px;
}

.button {
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

.button:hover,
.button:focus {
  color: rgb(0, 132, 255);
}

.list {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.item {
  margin-right: 10px;
}
